{
  "presets": [
    [
      "@babel/preset-env", {
        "corejs": "3",
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"],
    "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ],
        [
            "babel-plugin-styled-components",
            {
                "displayName": true,
                "ssr": true,
                "minify": false,
                "transpileTemplateLiterals": false
            }
        ]
    ]
}
