# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

data

config_notes.txt

.DS_Store
**/.DS_Store

# ignore generated server, keep src for server
server.js
!src/server/server.js

# Dependency directories
node_modules/

# build output dir
.build/
.build/**

# public ouput dir for browser js file
public/
# we do want shared public
!src/shared/public/

.cache

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
